In [ ]:
![Plane Picture](./Images/plane_file.png)

In [2]:
import pandas as pd

In [3]:
data_df=pd.read_csv('.\data\Aviation_Data.csv')
data_df.tail()

C:\Users\kamau\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
90343,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
90344,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
90345,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
90346,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
90347,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

In [ ]:
data_df['Survival_Rate'] = data_df['Total.Uninjured'] / ((data_df['Total_Injuries'] + data_df['Total.Uninjured']))
# Assign NaN where both injuries and uninjured passengers are zero
data_df['Survival_Rate'] = data_df['Total.Uninjured'] / ((data_df['Total_Injuries'] + data_df['Total.Uninjured']))
data_df['Survival_Rate'] = data_df.apply(
    lambda row: np.nan if (row['Total_Injuries'] == 0 and row['Total.Uninjured'] == 0) else row['Survival_Rate'],
    axis=1
)

In [ ]:
# 1. Fatality rate by aircraft category
(data_df.groupby('Make')['Survival_rate']
   .agg(['sum', 'count'])
   .assign(fatality_rate=lambda x: x['sum']/x['count'])
   .sort_values('fatality_rate', ascending=False))

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Accident counts by country viz
accidents_by_country = data_df.groupby("Country", as_index=False)["accident_count"].sum()
accidents_by_country.sort_values("accident_count", ascending=False, inplace=True)

plt.figure(figsize=(12,6))
plt.bar(accidents_by_country["Country"], accidents_by_country["accident_count"])
plt.xticks(rotation=45)
plt.xlabel("Country")
plt.ylabel("Accident Count")
plt.title("Accident Counts by Country")
plt.show()

In [ ]:
# Group by Make and Model and compute the Accident Count of each plane type
accident_count_by_plane = data_df.groupby(["Make", "Model"], as_index=False)["accident_count"].sum()
#survival_by_plane = survival_by_plane[survival_by_plane["accident_count"] >= 5] # ensure we analyse ones with multiple incidents

# Sort the groups in descending order by Survival_Rate and take the top 10
top10_by_accident_count = accident_count_by_plane.sort_values("accident_count", ascending=True).head(10)


# Create a new column for the combined label of Make and Model for the x-axis
top10_by_accident_count["Plane"] = top10_by_accident_count["Make"] + " " + top10_by_accident_count["Model"]

# Plotting the bar chart
plt.figure(figsize=(12,6))
plt.bar(top10_by_accident_count["Plane"], top10_by_accident_count["accident_count"], color='skyblue')
plt.xticks(rotation=45, ha='right')
plt.xlabel("Plane (Make and Model)")
plt.ylabel("Accident Count")
plt.title("Top 10 Planes by Accident Count")
plt.tight_layout()
plt.show()

In [ ]:
top10_by_accident_count.head(10)

In [4]:
data_df['Amateur.Built'].value_counts()

No     80312
Yes     8475
Name: Amateur.Built, dtype: int64

In [5]:
import seaborn as sns
import matplotlib.pyplot as plt
# Aggregate the accident counts for each engine type by summing
agg_built_status = data_df.groupby("Amateur.Built", as_index=False)["accident_count"].sum()

# Create a scatter plot: x-axis is Amateur.Built, y-axis is total accident_count
plt.figure(figsize=(10,6))
plt.bar(agg_built_status["Amateur.Built"], agg_built_status["accident_count"], color='skyblue')

plt.xlabel("Amateur Built Status")
plt.ylabel("Total Accident Count")
plt.title("Total Accident Count by Engine Type")
plt.xticks(rotation=45, ha='right')
plt.tight_layout()
plt.show()

KeyError: 'Column not found: accident_count'

In [ ]:
accident_stats = data_df.groupby(
    ['Number.of.Engines', 'Engine.Type', 'Amateur.Built']
)['accident_count'].sum().reset_index()

accident_stats.head()